<header>
    <nav class="navbar">
        <div class="name"><h1><a href="/">Savings Planner</a></h1></div>
        <ul class="links">
            <li><a href="/">Log out</a></li>
        </ul>
    </nav>
</header>

<main>
<div class="counter_forms">
    <form class="counter">
        <h2>Saving goal</h2>
        <div class="input-counter">
            <p>Category</p>
            <input type="text" placeholder="Category">
        </div>
        <div class="input-counter">
            <p>Savings duration (years)</p>
            <input type="text" placeholder="Years">
        </div>
        <div class="input-counter">
            <p>Savings duration (months)</p>
            <input type="text" placeholder="Months">
        </div>
        <div class="input-counter">
            <p>Monthly installment</p>
            <input type="text" placeholder="€">
        </div>
        <div class="output-counter">
            <p>Total amount:</p>
            <output id=" ">--- €</output>
        </div>
    </form>
    <form class="counter">
        <h2>Actual savings</h2>
        <div class="input-counter">
        <p>Category</p>
            <select id="dropdown1" onchange=" ">
                <option value="0">- not set -</option>
                <option value="1">- not set -</option>
                <option value="2">- not set -</option>
            </select>
        </div>
        <div class="input-counter">
            <p>Amount saved</p>
            <input type="text" placeholder="€">
        </div>
    </form>
</div>
<label for="dropdown2">Select category:</label>
    <select id="dropdown2" onchange=" ">
        <option value="0">- not set -</option>
        <option value="1">- not set -</option>
        <option value="2">- not set -</option>
    </select>
<canvas id="myChart"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/chart.js"></script>
</main>