<header>
    <nav class="navbar">
        <div class="name"><a href="/">Savings Planner</a></div>
        <ul class="links">
            <li><a href="login">Log in</a></li>
            <li><a href="signup">Sign up</a></li>
        </ul>
    </nav>
</header>

<main></main>