<header>
    <nav class="navbar">
        <div class="name"><h1><a href="/">Savings Planner</a></h1></div>
        <ul class="links">
            <li><a href="login">Log in</a></li>
            <li><a href="signup">Sign up</a></li>
        </ul>
    </nav>
</header>
<main>
<div class="main-content">
    <form class="login">
        <div class="input-login">
            <p>Username</p>
            <input type="text" placeholder="Username">
        </div>
        <div class="input-login">
            <p>Password</p>
            <input type="text" placeholder="Password">
        </div>
        {{!-- <button onclick=" ">Log in</button> --}}
        <button><a href="counter">Log in</a></button>
    </form>
</div>
</main>